

.btn-group {
	margin: 15px;
}


.chart {
  height: 500px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  color: blue;
}

.name {
	font-size: 11px;
}